<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABout Page</title>
</head>
<body>
    <div id="content">
        <h1>welcome to about page</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
             Quia assumenda eos neque voluptas tempora tempore corporis ipsam explicabo blanditiis? Quis ab iste in excepturi debitis nesciunt quisquam dolor possimus delectus!</p>
    </div>
    <script>
        console.log("about page");
    </script>
</body>
</html>