<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Conatact Us</title>
    </head>
<body>
    <div id="content">
        <h1>Welcome to Contact page</h1>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis est ut, 
            deserunt quas qui vel numquam similique? Fugiat voluptatibus temporibus cupiditate doloribus, fugit natus nisi ipsum facilis repellat excepturi nam!</p>
    </div>
    <script>
    console.log("contact page");
    </script>
    <script>
        console.log("contact home page");
    </script>
</body>
</html>