<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}">
<head>
    <title>
        Service
    </title>
    </head>
<body>
    <section id="content">
    <h1>Welcome to services page</h1>
    <h2>Services offered by SCM</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cupiditate quia consectetur praesentium numquam alias hic magnam saepe 
        ut, nostrum mollitia illum eveniet dolor architecto ipsam esse quasi, non modi!</p>
    </section>
</body>
</html>